# Logs
logs
*.log

# Coverage directory used by tools like istanbul
test/coverage

# Dependency directory
node_modules

# System
.DS_Store

# Directory structure holders
.gitkeep

# Build temporary files
.sass-cache