# Logs
logs
*.log

# Coverage directory used by tools like istanbul
test/coverage

# Dependency directory
node_modules
bower_components

# System
.DS_Store

# Directory structure holders
.gitkeep

# Build temporary files
.sass-cache
.tmp